.App {
  text-align: center;
  background-color: #282c34;
  padding-top: 2em;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

small {
  color: #7f8288;
  font-size: 0.4em;
}

h1 {
  font-size: 1.5em;
}